
.faq-question-answer {
    padding: 24px 28px;
    border-radius: 16px;
    background: #FFFFFF;
    border: 1px solid #B9BBC6;
  }
  
  .question {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .toggle-icon {
    width: 18.75px;
    height: 18.75px;
    top: 2.63px;
    left: 2.63px;
    margin-right: 12px; 
    color: #60646C;
  }
  
  .faqQuestions {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1C2024;
  }
  
  .faq-answer-div {
    padding: 0 0 24px 48px;
  }
  
  .answers {
    color: #60646C;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  

  .toggle-icon::before {
    content: '+';
  }
  
  .question.expanded .toggle-icon::before {
    content: '×';
  }
  